@font-face {
   font-family: "Jua";
   src: local('Jua-Regular'), url('../assets/fonts/Jua/Jua-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Inter";
   src: local('Inter-Regular'), url('../assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}