/* Header */

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 900;
   transition: background-color 0.15s linear;
}

.header--filled {
   background-color: var(--color-primary-100);
   border-bottom: var(--color-primary-300) 1px solid;
}

.header__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
}

.header__content {
   padding: 4px 0;
}

.header__nav {
   position: fixed;
   top: 0;
   right: 0;
   display: flex;
   gap: 10px;
   width: 100%;
   height: 100vh;
   background-color: var(--color-primary-100);
   padding: 15px;
   font-size: 19px;
   transition: transform 0.15s linear;
   transform: translateX(100%);
   z-index: 999;
}

.header__link a {
   color: var(--color-secondary-500);
}

.header__nav--opened {
   transform: translateX(0);
}

.header__links {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;
   flex-grow: 1;
}

.burger {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 3px;
   width: 24px;
   height: 24px;
   background-color: rgba(0, 0, 0, 0);
}

.burger__line {
   width: 100%;
   height: 3px;
   background-color: var(--color-secondary-500);
}

.header__close-menu {
   width: 25px;
   height: 25px;
}

/* Intro */

.intro {
   position: relative;
   display: flex;
   flex-direction: column;
   height: 100%;
   min-height: 100dvh;
   background: url("../assets/img/intro-bg.jpg")
      center center / cover;
}

.intro::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   backdrop-filter: brightness(0.62);
   z-index: 1;
}

.intro > .wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   z-index: 2;
}

.intro__content {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.intro__about {
   justify-self: center;
   margin: auto 0;
   text-align: center;
}

.intro__heading {
   color: var(--color-primary-500);
   font-size: 46px;
   text-transform: uppercase;
   text-shadow: 0 0 2px var(--color-primary-500);
}

.intro__desc {
   color: var(--color-secondary-500);
   font-size: 30px;
   text-align: center;
}

.intro__advantage {
   justify-self: flex-end;
   margin-bottom: 14px;
   text-align: center;
}

.intro__advantage-text .highlight {
   color: var(--color-primary-600);
   font-family: var(--secondary-font);
}

/* Companies */

.companies-desktop {
   display: none;
}

.companies {
   display: flex;
   flex-direction: column;
   gap: 4px;
   width: 100%;
   overflow: hidden;
}

.companies__container {
   display: flex;
   overflow: hidden;
}

.companies__row {
   display: flex;
   gap: 4px;
}

.companies__row img {
   display: block;
   min-width: 30%;
   max-width: 30%;
   object-fit: cover;
}

.companies__row:nth-child(odd) {
   animation: imageSliderLeft 6s linear infinite;
}

.companies__row:nth-child(even) {
   animation: imageSliderRight 6s linear infinite;
}

@keyframes imageSliderLeft {
   from {
      transform: translate3d(0, 0, 0);
   }
   to {
      transform: translate3d(
         -124%,
         0,
         0
      ); /* Изменить первое значение translate3d если прыгает анимация */
   }
}

@keyframes imageSliderRight {
   from {
      transform: translate3d(
         -124%,
         0,
         0
      ); /* Изменить первое значение translate3d если прыгает анимация */
   }
   to {
      transform: translate3d(0, 0, 0);
   }
}

.companies__row:hover {
   animation-play-state: paused;
}

/* STATS */

.stats__item {
   padding: 8px 10px;
   border: 1px solid var(--color-primary-300);
   border-width: 1px 0 1px;
   transition: all 0.25s ease;
}

.stats__item:first-child {
   border-top-width: 2px;
}

.stats__item:last-child {
   border-bottom-width: 2px;
}

.stats__item-title,
.stats__item-desc {
   color: var(--color-secondary-400);
   font-size: 20px;
}

.stats__item-value {
   color: var(--color-primary-500);
   font-size: 30px;
}

.stats__item:hover {
   background: var(--color-primary-100);
}

.stats__item:hover > .stats__item-title {
   color: var(--color-secondary-300);
}

.stats__item:hover > .stats__item-value {
   color: var(--color-secondary-500);
}

/* TEAM */

.team__items {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   grid-auto-flow: row;
   gap: 18px;
}

.team__item {
   padding: 4px;
   background-color: var(--color-primary-100);
}

.team__item-image {
   width: 100%;
   aspect-ratio: 1 / 2;
   object-fit: cover;
}

.team__item-text {
   padding: 10px 0 5px 0;
}

.team__item-position {
   color: var(--color-primary-900);
   font-size: 28px;
   width: fit-content;
   margin-left: 1px;
}

.team__item-name {
   color: var(--color-primary-500);
   font-size: 24px;
}

/* Offers */

.offers__items-wrapper {
   display: contents;
}

.offers__item:first-child {
   border-top: 2px solid var(--color-primary-300);
}

.offers__item:last-child {
   border-bottom: 2px solid var(--color-primary-300);
}

.offers__item {
   border-top: 1px solid var(--color-primary-300);
   border-bottom: 1px solid var(--color-primary-300);
   transition: background-color 0.15s linear;
}

.offers__item-name {
   display: flex;
   justify-content: space-between;
   gap: 10px;
   padding: 15px 0 15px 0;
   list-style: none;
   font-size: 20px;
   cursor: pointer;
   user-select: none;
   color: var(--color-secondary-500);
   transition: color 0.15s linear;
}

.offers__item-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   width: 18px;
   height: 18px;
   margin-top: 5px;
   border-radius: 50%;
   background-color: var(--color-primary-100);
   transition: transform 0.15s linear;
   transform-origin: center center;
}

.offers__item--opened .offers__item-icon {
   transform: rotate(45deg);
}

.offers__item--opened {
   background-color: var(--color-primary-100);
}

.offers__item-icon img {
   width: 11px;
}

.offers__item-text {
   margin-bottom: 15px;
   padding-right: 40px;
   max-height: 0;
   font-size: 16px;
   color: var(--color-secondary-500);
   transition: max-height 0.15s linear;
   overflow: hidden;
}

.offers__item--opened .offers__item-name {
   color: var(--color-primary-900);
}

/* QUOTE */

.quote {
   background-color: var(--color-primary-100);
   margin-top: 40px;
   border: 1px solid var(--color-primary-300);
   border-width: 1px 0 1px;
}

.quote > .wrapper {
   padding: 0 11px;
}

.quote .group-content {
   padding: 14px 0;
   margin: 0;
}

.quote__heading {
   margin-bottom: 10px;
   font-weight: 600;
   font-size: 20px;
   color: var(--color-primary-900);
}

.quote__heading .highlight {
   color: var(--color-primary-500);
   font-family: var(--secondary-font);
}

.quote__author {
   color: var(--color-primary-500);
   font-size: 20px;
   text-align: right;
}

/* PRICES */
.prices {
   margin-bottom: 14px;
}

.prices__item {
   padding: 8px 0;
   border: 1px solid var(--color-primary-300);
   border-width: 1px 0 1px;
   font-family: "Inter", sans-serif;
   transition: all 0.25s ease;
}

.prices__item:first-child {
   border-top: 2px solid var(--color-primary-300);
}

.prices__item:last-child {
   border-bottom: 2px solid var(--color-primary-300);
}

.prices__item-header {
   display: flex;
   justify-content: space-between;
   color: var(--color-primary-500);
   font-size: 20px;
}

.prices__item-desc {
   font-size: 16px;
   padding: 8px 0;
}

.prices__item-footer {
   display: flex;
   gap: 10px;
}

.prices__item-action {
   position: relative;
   color: var(--color-primary-500);
}

.prices__item-action:hover::before {
   background-color: var(--color-primary-500);
}

.prices__item-link {
   color: var(--color-secondary-500);
}

.prices__item:hover > .prices__item-title {
   color: var(--color-secondary-300);
}

.prices__item:hover > .prices__item-value {
   color: var(--color-secondary-500);
}

.prices__item:nth-child(even) {
   background-color: var(--color-primary-100);
}

.price__quote {
   padding: 8px 0;
   background-color: var(--color-primary-100);
}

.price__text {
   padding-left: 26px;
   background: top 5px left 0px url("../assets/icons/quotes.svg") no-repeat;
}

/* Advantages */

.advantages__title {
   margin-bottom: 14px;
}

.advantages__cards {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.advantages__card {
   padding: 14px;
   background-color: var(--color-primary-100);
   border-bottom: 3px solid var(--color-primary-200);
}

.advantages__card-title {
   margin-bottom: 8px;
   font-size: 28px;
   text-transform: uppercase;
}

.advantages__card-desc {
   color: var(--color-primary-900);
}

/* Contact form */

.contact-form__buttons {
   display: flex;
   flex-direction: column;
   gap: 8px;
   margin-bottom: 8px;
}

.contact-radio .radio-label {
   padding: 8px;
   background-color: var(--color-primary-100);
   color: var(--color-secondary-500);
   transition: background-color 0.15s linear;
}

.contact-form__input {
   width: 100%;
   margin-bottom: 8px;
}

.contact-form__submit {
   width: 100%;
   padding: 8px;
   background-color: var(--color-primary-200);
   transition: background-color 0.15s linear;
}

.contact-form__submit:hover {
   background-color: var(--color-primary-300);
}

@media (hover: hover) {
   .contact-form__button:hover {
      background-color: var(--color-primary-200);
   }
   .contact-form__submit:hover {
      background-color: var(--color-primary-300);
   }
}

@media (hover: none) {
   .contact-form__button:active {
      background-color: var(--color-primary-200);
   }
   .contact-form__submit:active {
      background-color: var(--color-primary-300);
   }
}

/* Offices */

.offices__items {
   display: flex;
   flex-direction: column;
   gap: 14px;
}

.offices__item {
   display: flex;
   gap: 10px;
}

.offices__item-counter {
   font-size: 20px;
   padding-top: 5px;
}

.offices__item-city {
   margin-bottom: 4px;
   text-transform: uppercase;
   color: var(--color-primary-400);
}

.color-grey{
   color: var(--color-secondary-300);
}

.offices__item-address {
   font-size: 16px;
}

.offices__item-head {
   font-size: 14px;
}

.offices__item-phone {
   color: var(--color-secondary-500);
   text-wrap: nowrap;
}

/* Contact */

.contact{
   padding-bottom: 20px;
}

.contact__content{
   font-family: 'Namu', sans-serif;
}

.contact__email{
   display: block;
   width: fit-content;
   margin: 0 auto 10px auto;
   font-size: 20px;
   color: var(--color-primary-500)
}

.contact__links{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.contact__links a {
   font-size: 16px;
   color: var(--color-secondary-500)
}

/* Adaptability */

@media screen and (min-width: 515px) {
   .header__nav {
      width: 300px;
   }
}

@media screen and (min-width: 600px) {
   .offices__title{
      margin-bottom: 25px;
   }

   .offices__items{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
   }
}

@media screen and (min-width: 760px) {
   .logo {
      width: 175px;
   }

   .companies-desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 7px;
   }

   .companies-desktop img {
      width: 250px;
   }

   .companies {
      display: none;
   }

   .team__items {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
   }
   .advantages__cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 10px;
   }

   .offices__items{
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
   }
}

@media screen and (min-width: 900px) {
   .advantages__title {
      margin-bottom: 27px;
   }
   .advantages__card {
      padding: 25px;
   }
   .advantages__card {
      font-size: 1.5rem;
   }

   .stats__item {
      padding: 25px 10px;
   }

   .prices {
      margin-bottom: 55px;
   }

   .prices__item {
      padding: 25px 0;
   }
   .prices__item-title {
      font-size: 28px;
   }
   .prices__item-desc,
   .prices__item-action,
   .prices__item-link {
      font-size: 24px;
   }
   .price__quote {
      padding: 25px 0;
   }
   .price__text {
      max-width: 990px;
      margin: 0 auto;
      padding-left: 50px;
      background-size: 35px;
      font-size: 2rem;
      text-align: center;
   }

   .offers__item {
      padding: 0 10px;
   }
   .offers__item-name {
      padding: 25px 0 20px 0;
      font-size: 28px;
   }
   .offers__item-icon {
      width: 25px;
      height: 25px;
      margin-top: 10px;
   }
   .offers__item-icon img {
      width: 19px;
   }
   .offers__item-text {
      margin-bottom: 25px;
      padding-right: 50px;
   }
   .offers__item--opened .offers__item-name {
      color: var(--color-primary-900);
   }
   .quote {
      padding: 25px 0;
   }
   .quote__heading {
      font-size: 1.8rem;
   }
   .quote__author {
      font-size: 1.4rem;
   }
   .quote__heading {
      max-width: 880px;
      margin: 0 auto 15px auto;
      text-align: center;
   }

   .contact-form__inputs {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
      font-size: 26px;
   }

   .contact-form__inputs .input {
      padding: 15px;
   }

   .contact-form__buttons {
      flex-direction: row;
      gap: 20px;
      margin-bottom: 27px;
   }

   .contact-radio {
      flex: 1 1 50%;
   }

   .contact-radio .radio-label {
      padding: 15px;
      font-size: 25px;
   }

   .contact-form__submit {
      width: auto;
      font-size: 1.5em;
      padding: 15px 27px;
   }

   .contact__email{
      margin: 0 0 4px 0;
   }

   .contact__links-wrap{
      display: flex;
      align-items: center;
      gap: 10px;
   }
}

@media screen and (min-width: 1000px) {
   .burger {
      display: none;
   }

   .header__nav {
      position: static;
      display: flex;
      align-items: center;
      gap: 10px;
      width: auto;
      height: auto;
      background: none;
      font-size: 16px;
      transition: transform 0.15s linear;
      transform: translateX(0);
      z-index: 999;
   }

   .header__links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
   }

   .header__close-menu {
      display: none;
   }

   .stats__items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      gap: 30px;
   }

   .stats__item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 35px 10px;
      border-width: 2px 0 2px;
   }

   .stats__item-value {
      font-size: 60px;
   }

   .offers__items {
      margin-bottom: 135px;
   }

   .team__items {
      gap: 25px;
   }

   .team__item {
      padding: 10px;
   }

   .quote__heading {
      max-width: 1100px;
      font-size: 47px;
   }

   .offices__title{
      margin-bottom: 50px;
   }

   .offices__items{
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      gap: 70px 40px ;
   }

   .offices__item{
      gap: 25px;
   }

   .offices__item-info{
      display: flex;
      flex-direction: column;
      gap: 15px;
   }

   .offices__item-city{
      font-size: 29px;
   }

   .offices__item-head, .offices__item-address{
      font-size: 21px;
   }

   .offices__item-counter{
      min-width: 110px;
      padding-top: 0;
      line-height: 0.9;
      color: #303030;
      font-size: 90px;
   }
}

@media screen and (min-width: 1050px) {
   .advantages__cards {
      grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
   }
}

@media screen and (min-width: 1250px) {
   .offices__item-counter{
      min-width: 165px;
      font-size: 130px;
   }
   .offices__item-city{
      font-size: 41px;
   }
}
